
<div class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card-service wow fadeInUp">
                    <div class="header">
                        <img src="../assets/img/services/service-1.svg" alt="">
                    </div>
                    <div class="body">
                        <h5 class="text-secondary">Telefon Tamir Hizmeti</h5>
                        <p>En kaliteli tamir hizmeti sunacağız.</p>
                        <a href="service.html" class="btn btn-primary">Daha fazlası için...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-service wow fadeInUp">
                    <div class="header">
                        <img src="../assets/img/services/service-2.svg" alt="">
                    </div>
                    <div class="body">
                        <h5 class="text-secondary">Tablet Tamir Hizmeti</h5>
                        <p>En kaliteli tamir hizmeti sunacağız.</p>
                        <a href="service.html" class="btn btn-primary">Daha fazlası için...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-service wow fadeInUp">
                    <div class="header">
                        <img src="../assets/img/services/service-3.svg" alt="">
                    </div>
                    <div class="body">
                        <h5 class="text-secondary">Bilgisayar Tamir Hizmeti</h5>
                        <p>En kaliteli tamir hizmeti sunacağız.</p>
                        <a href="service.html" class="btn btn-primary">Daha fazlası için...</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .container -->
</div>


<!-- .page-section -->

<div class="page-section">
    <div class="container">
        <div class="text-center wow fadeInUp">
            <div class="head">FİYAT TEKLİFİ</div>
            <h2 class="title-section">Senin için en iyi teklifi seç</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 py-3 wow zoomIn">
                <div class="card-pricing">
                    <div class="header">
                        <div class="pricing-type">Basic</div>
                        <div class="price">
                            <span class="dollar">$</span>
                            <h1>39<span class="suffix">.99</span></h1>
                        </div>
                        <h5>Bakım Paketi</h5>
                    </div>
                    <div class="body">
                        <p>Sınırsız <span class="suffix">Bakım Hizmeti</span></p>
                        <p>24/7 <span class="suffix">Destek</span></p>
                    </div>
                    <div class="footer">
                        <a href="#" class="btn btn-pricing btn-block">Paketi Satın Al</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 py-3 wow zoomIn">
                <div class="card-pricing marked">
                    <div class="header">
                        <div class="pricing-type">Standart</div>
                        <div class="price">
                            <span class="dollar">$</span>
                            <h1>59<span class="suffix">.99</span></h1>
                        </div>
                        <h5>Onarım Paketi</h5>
                    </div>
                    <div class="body">
                        <p>Sınırsız <span class="suffix">Onarım Hizmeti</span></p>
                        <p>24/7 <span class="suffix">Destek</span></p>
                    </div>
                    <div class="footer">
                        <a href="#" class="btn btn-pricing btn-block">Paketi Satın Al</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 py-3 wow zoomIn">
                <div class="card-pricing">
                    <div class="header">
                        <div class="pricing-type">Professional</div>
                        <div class="price">
                            <span class="dollar">$</span>
                            <h1>99<span class="suffix">.99</span></h1>
                        </div>
                        <h5>Bakım ve Onarım Paketi</h5>
                    </div>
                    <div class="body">
                        <p>Sınırsız <span class="suffix">Bakım ve Onarım Hizmeti</span></p>
                        <p>24/7 <span class="suffix">Destek</span></p>
                    </div>
                    <div class="footer">
                        <a href="#" class="btn btn-pricing btn-block">Paketi Satın Al</a>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- .container -->
</div> <!-- .page-section -->